/* =========================================
   work01
   画像01
========================================= */

.work01-image01 {
    position: absolute;

    left: 43px;
    top: 78px;

    display: block;
}

/* =========================================
   work01
   大見出し
========================================= */

.work01-heading-large {
    position: absolute;

    left: 40px;
    top: 420px;
}
/* =========================================
   work01
   小見出し
========================================= */

.work01-heading-small {
    position: absolute;

    left: 734px;
    top: 110px;
}
