/* =========================================
   work01
   画像01
========================================= */

.work01-image01 {
    position: absolute;

    left: 43px;
    top: 78px;

    display: block;
}
